// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
	font-family: sans-serif;
	text-align: center;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    outline: 1px black solid;
    height: 620px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile {
    transition: transform 0.1s;
}

.button {
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;

    &:hover {
        background-color: #0dd415;    
        cursor: pointer;
    }
}

.target-label {
    position: absolute;
    top: 15px;
    left: 95px;
    transform: translate(-50%, -50%);
}

.opponent-label {
    position: absolute;
    top: 15px;
    left: 405px;
    transform: translate(-50%, -50%);
}

.target {
    position: absolute;
    width: 90px;
    height: 90px;
    transform: translate(50px, 50px);
    background-color: lightgrey;

    .tile {
        box-sizing: border-box;
        border: 2px black solid;
        border-radius: 4px;
        height: 30px;
        width: 30px;
        position: absolute;
        transform: translate(calc(var(--row) * 30px), calc(var(--col) * 30px));
    }
}

.board {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translate(50px, 170px);
    background-color: lightgrey;

    .tile {
        box-sizing: border-box;
        border: 5px black solid;
        border-radius: 10px;
        height: 80px;
        width: 80px;
        position: absolute;
        transform: translate(calc(var(--row) * 80px), calc(var(--col) * 80px));
    }
}

.opponent-board {
    position: absolute;
    width: 90px;
    height: 90px;
    transform: translate(360px, 50px);
    background-color: lightgrey;

    .tile {
        box-sizing: border-box;
        border: 1px black solid;
        border-radius: 2px;
        height: 18px;
        width: 18px;
        position: absolute;
        transform: translate(calc(var(--row) * 18px), calc(var(--col) * 18px))
    }
}

.state {
    outline: 1px black solid;
    position: absolute;
    background-color: white;
    padding: 10px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
